
{if isset($alert.error)}

<div class="m-alert m-alert--icon alert alert-danger" role="alert">

    <div class="m-alert__icon">
        <i class="la la-warning"></i>
    </div>

    <div class="m-alert__text">

        <h3>{$alert.error.title}</h3>

        {if is_array($alert.error.message)}

        {$count = 1}

        {foreach from=$alert.error.message key="key" item="value"}
        {if $count > 1}<br>{/if}<span>{$count++}. {$value}</span>
        {/foreach}

        {else}

        <span>{$alert.error.message}</span>

        {/if}

    </div>

    {if isset($alert.error.button)}
    <div class="m-alert__actions">
        <a href="{$alert.error.button.url}"
           {if isset($alert.error.button.option) && $alert.error.button.option == 1}
           target="_blank"
           {elseif isset($alert.error.button.option) && $alert.error.button.option == 2}
           {literal}
           onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"
           {/literal}
        {/if}
           class="btn btn-default btn-sm m-btn m-btn--pill m-btn--wide" data-override="true">
            {$alert.error.button.title}
        </a>
    </div>
    {/if}

</div>

{elseif isset($alert.warning)}

<div class="m-alert m-alert--icon alert alert-warning" role="alert">

    <div class="m-alert__icon">
        <i class="la la-warning"></i>
    </div>

    <div class="m-alert__text">

        <h3>{$alert.warning.title}</h3>

        {if is_array($alert.warning.message)}

        {$count = 1}

        {foreach from=$alert.warning.message key="key" item="value"}
        {if $count > 1}<br>{/if}<span>{$count++}. {$value}</span>
        {/foreach}

        {else}

        <span>{$alert.warning.message}</span>

        {/if}

    </div>

    {if isset($alert.warning.button)}
    <div class="m-alert__actions">
        <a href="{$alert.warning.button.url}"
           {if isset($alert.warning.button.option) && $alert.warning.button.option == 1}
           target="_blank"
           {elseif isset($alert.warning.button.option) && $alert.warning.button.option == 2}
           {literal}
           onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"
           {/literal}
           {/if}
           class="btn btn-default btn-sm m-btn m-btn--pill m-btn--wide" data-override="true">
            {$alert.warning.button.title}
        </a>
    </div>
    {/if}

</div>

{elseif isset($alert.success)}

<div class="m-alert m-alert--icon alert alert-success" role="alert">

    <div class="m-alert__icon">
        <i class="la la-check"></i>
    </div>

    <div class="m-alert__text">

        <h3>{$alert.success.title}</h3>

        {if is_array($alert.success.message)}

        {$count = 1}

        {foreach from=$alert.success.message key="key" item="value"}
        {if $count > 1}<br>{/if}<span>{$count++}. {$value}</span>
        {/foreach}

        {else}

        <span>{$alert.success.message}</span>

        {/if}

    </div>

    {if isset($alert.success.button)}
    <div class="m-alert__actions">
        <a href="{$alert.success.button.url}"
           {if isset($alert.success.button.option) && $alert.success.button.option == 1}
           target="_blank"
           {elseif isset($alert.success.button.option) && $alert.success.button.option == 2}
           {literal}
           onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"
           {/literal}
        {/if}
           class="btn btn-default btn-sm m-btn m-btn--pill m-btn--wide" data-override="true">
            {$alert.success.button.title}
        </a>
    </div>
    {/if}

</div>

{/if}