<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="{$header.app_title}">
    <meta property="og:site_name" content="{$header.app_name}">
    <meta property="og:description" content="{$header.app_desc}">
    <meta property="og:locale" content="en-ng">
    <meta property="og:url" content="{$header.app_url}">
    <meta name="description" content="{$header.app_desc}"/>
    <meta name="keywords" content="{$header.app_keywords}"/>
    <meta name="robots" content="{$header.app_robots}"/>
    <title>{$header.app_title}</title>

    <!-- twitter meta data -->
    <meta name="twitter:title" content="{$header.app_title}">
    <meta name="twitter:description" content="{$header.app_desc}">
    <meta name="twitter:image" content="{$header.app_logo_large}">
    <meta name="twitter:card" content="summary">

    <!-- Stylesheets
    ================================================= -->
    {foreach from=$header.css key="key" item="value"}
    <link href="{$value}" rel="stylesheet" type="text/css">
    {/foreach}

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{$header.app_fav_icon}"/>
</head>
<body>

<!-- Header
================================================= -->
<header>

    <ul class="nav navbar-nav mr-auto">

        {$menuList = $menu}

        {foreach $menuList as $key => $menu}

        {if !isset($menu['title']) || !isset($menu['href'])}
        {continue}
        {/if}

        {$hasSubMenu = (isset($menu['__']) && !empty($menu['__']))}

        <li class="nav-item {if $hasSubMenu}dropdown{/if} {if isset($menu.active) && $menu.active === true}active{/if}
                                {if isset($menu.disabled) && $menu.disabled === true}hidden{/if}">

            <a class="nav-link {if $hasSubMenu}dropdown-toggle{/if}"
               href="{if $hasSubMenu}#{else}{$menu.href}{/if}"
               {if $hasSubMenu}id="navbarDropdownMenuLink{$key}"
               role="button" data-toggle="dropdown"{/if}>
            {if isset($menu.icon)}<i class="{$menu.icon} mr-2"></i>{/if}
            {$menu.title}
            </a>

            {if $hasSubMenu}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{$key}">
                {foreach $menu['__'] as $subKey => $subMenu}
                <li class="dropdown-item {if isset($subMenu.active) && $subMenu.active === true}active{/if}
                                        {if isset($subMenu.disabled) && $subMenu.disabled === true}hidden{/if}"><a href="{$subMenu.href}">
                    {if isset($subMenu.icon)}<i class="{$subMenu.icon} mr-2"></i>{/if}
                    {$subMenu.title}</a></li>
                {/foreach}
            </ul>
            {/if}

        </li>

        {/foreach}
    </ul>

</header>
<!--Header End-->

{include file='module/include/header-alert.html'}