{if isset($header.http)}

{if is_array($header.http) && count($header.http) > 0}

{foreach from=$header.http key="key" item="value"}

{if is_array($value) && array_key_exists('message', $value) && array_key_exists('status', $value)}

{if $value.status == ERROR}

<div class="alert alert-danger alert-dismissible text-center" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
    <div class="alert__text"><span>{$value.message}</span></div>
</div>

{elseif $value.status == WARNING}

<div class="alert alert-warning alert-dismissible text-center" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
    <div class="alert__text"><span>{$value.message}</span></div>
</div>

{elseif $value.status == SUCCESS}

<div class="alert alert-success alert-dismissible text-center" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
    <div class="alert__text"><span>{$value.message}</span></div>
</div>

{/if}

{/if}

{/foreach}

{/if}

{/if}